<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Micro+5+Charted&display=swap" rel="stylesheet">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src= "../../../assets/OIF.jpg" style="padding: 10px 10px; height: 90%;">
    <span id="appHeading" style="padding: 10px 10px; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:x-large; font-weight: bold;" >itsApex</span>
    <app-search-bar style="padding-left: 10%;"></app-search-bar>
  </mat-toolbar-row>
</mat-toolbar>

